.container-fluid {
  &.primary-bg-section {
    &.faq {
      margin-top: -78px;
      padding: 0 50px 28px;
      .accordion-flus {
        background-color: $bg-primary-color;
        .accordion-item {
          width: 100%;
          max-width: 716px;
          border: 1px solid #3a444e;
          border-radius: 10px;
          margin-bottom: 14px;
          margin-left: 31px;
          overflow: hidden;
          transition: 0.3s;
          &:hover {
            transition: 0.3s;
            border: 1px solid $primary-color;
            box-shadow: 1px 1px 5px 1px $primary-color,
              -1px -1px 5px 1px $primary-color;
          }
          .accordion-header {
            .accordion-button {
              color: $text-primary-color;
              background-color: $bg-primary-color;
              padding: 20px 27px 21px 31px;
              font-weight: 700;
              font-size: 18px;
              line-height: 124.5%;
              &:focus {
                box-shadow: none;
              }
              &:focus-visible {
                outline: none;
              }
              &:not(.collapsed) {
                color: $text-primary-color;
                background-color: white;
                color: #000;
                border-left: 1px solid $secondary-color;
                border-right: 1px solid $secondary-color;
                border-top: 1px solid $secondary-color;
                border-bottom: 1px solid transparent;
                box-shadow: none;
                &::after {
                  position: absolute;
                  width: 26px;
                  height: 26px;
                  background-size: 26px;
                  background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.421875 13.5C0.421875 6.27539 6.27539 0.421875 13.5 0.421875C20.7246 0.421875 26.5781 6.27539 26.5781 13.5C26.5781 20.7246 20.7246 26.5781 13.5 26.5781C6.27539 26.5781 0.421875 20.7246 0.421875 13.5ZM13.5 24.8906C19.7596 24.8906 24.8906 19.8229 24.8906 13.5C24.8906 7.24043 19.8229 2.10938 13.5 2.10938C7.24043 2.10938 2.10938 7.17715 2.10938 13.5C2.10938 19.7596 7.17715 24.8906 13.5 24.8906ZM14.1592 20.0127L20.2289 13.9482C20.4768 13.7004 20.4768 13.2996 20.2289 13.0518L14.1592 6.9873C13.9113 6.73945 13.5105 6.73945 13.2627 6.9873L12.8988 7.35117C12.651 7.59902 12.651 8.01035 12.9094 8.25293L17.4182 12.6035H7.38281C7.03477 12.6035 6.75 12.8883 6.75 13.2363V13.7637C6.75 14.1117 7.03477 14.3965 7.38281 14.3965H17.4182L12.9041 18.7471C12.651 18.9949 12.6457 19.401 12.8936 19.6488L13.2574 20.0127C13.5105 20.2605 13.9113 20.2605 14.1592 20.0127Z' fill='%23B26519'/%3E%3C/svg%3E");
                  top: 16px;
                  right: 19px;
                  transform: rotate(-90deg);
                }
              }
              &:focus-visible {
                outline: none;
              }
              &::after {
                position: absolute;
                width: 26px;
                height: 26px;
                background-size: 26px;
                top: 16px;
                right: 19px;

                background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.421875 13.5C0.421875 6.27539 6.27539 0.421875 13.5 0.421875C20.7246 0.421875 26.5781 6.27539 26.5781 13.5C26.5781 20.7246 20.7246 26.5781 13.5 26.5781C6.27539 26.5781 0.421875 20.7246 0.421875 13.5ZM13.5 24.8906C19.7596 24.8906 24.8906 19.8229 24.8906 13.5C24.8906 7.24043 19.8229 2.10938 13.5 2.10938C7.24043 2.10938 2.10938 7.17715 2.10938 13.5C2.10938 19.7596 7.17715 24.8906 13.5 24.8906ZM14.1592 20.0127L20.2289 13.9482C20.4768 13.7004 20.4768 13.2996 20.2289 13.0518L14.1592 6.9873C13.9113 6.73945 13.5105 6.73945 13.2627 6.9873L12.8988 7.35117C12.651 7.59902 12.651 8.01035 12.9094 8.25293L17.4182 12.6035H7.38281C7.03477 12.6035 6.75 12.8883 6.75 13.2363V13.7637C6.75 14.1117 7.03477 14.3965 7.38281 14.3965H17.4182L12.9041 18.7471C12.651 18.9949 12.6457 19.401 12.8936 19.6488L13.2574 20.0127C13.5105 20.2605 13.9113 20.2605 14.1592 20.0127Z' fill='white'/%3E%3C/svg%3E");
              }
            }
          }
          .accordion-collapse {
            border-radius: 10px;

            .accordion-body {
              border-bottom: 1px solid $secondary-color;
              border-left: 1px solid $secondary-color;
              border-right: 1px solid $secondary-color;
              margin-top: -5px;
              padding: 0px 99px 18px 32px;
              font-weight: 300;
              font-size: 17px;
              line-height: 144.5%;
            }
          }
        }
      }
      .faq-form {
        margin-left: -37px;
        padding-bottom: 37px;
        max-width: 390px;
        background: $bg-secondary-color;
        box-shadow: 5px 15px 40px #1c1f2a;
        border-radius: 20px;
        .faq-info {
          padding: 38px 45px 0 42px;
          margin-bottom: -16px;
        }
        .faq-info__title {
          font-weight: 700;
          font-size: 24px;
          line-height: 126%;
        }
        .faq-info__descript {
          font-weight: 300;
          font-size: 17px;
          line-height: 126%;
        }
        form {
          text-align: center;
          .input-block {
            padding: 18px 40px 0;
            .btn {
              &::after {
                right: 14px;
              }
            }

            input {
              margin-bottom: -4px;
              padding-bottom: 18px;
              width: 100%;
              max-width: 310px;
            }
            textarea {
              padding: 19px 0 32px 20px;
              width: 100%;
              max-width: 310px;
              height: 70px;
              overflow: hidden;
              border-radius: 10px;
              resize: none;
              font-weight: 400;
              font-size: 15px;
              line-height: 126%;
              &::placeholder {
                color: #cbcbcb;
              }
              &:hover {
                border: 1px solid $primary-color;
                box-shadow: 1px 1px 10px 1px $primary-color,
                  -1px -1px 10px 1px $primary-color;
                transition: 0.3s;
              }
              &:focus {
                border: 1px solid $secondary-color;
                box-shadow: 1px 1px 10px 1px $secondary-color,
                  -1px -1px 10px 1px $secondary-color;
                transition: 0.3s;
              }
              &:focus-visible {
                outline: none;
              }
            }
          }
        }
      }
    }
  }
}
