///fonts///
$font-primary: "ProximaNova";
$font-size: 16px;

///bg-colors///
$bg-primary-color: #282b38;
$bg-secondary-color: #363a4d;

///colors///
$primary-color: #e58d35;
$secondary-color: #89c249;

///text-colors///
$text-primary-color: #ffffff;

///sections///
$section-margin-lg: 100px;
$section-margin-sm: 56px;
