<section class="container-fluid secondary-bg-section excellence">
  <div class="container">
    <div class="template-title">
      <h2>Почему стоит выбрать именно нас?</h2>
    </div>
    <div class="excellence-slider row">
      <div class="col-lg-3">
        <div class="excellence-box">
          <div class="excellence-img">
            <img src="assets/img/excellence-1.svg" alt="excellence">
          </div>
          <h4 class="excellence-title">Таможенное <br> оформление груза</h4>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="excellence-box">
          <div class="excellence-img">
            <img src="assets/img/excellence-2.svg" alt="excellence">
          </div>
          <h4 class="excellence-title">Страховка груза</h4>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="excellence-box">
          <div class="excellence-img">
            <img src="assets/img/excellence-3.svg" alt="excellence">
          </div>
          <h4 class="excellence-title">Проверка товара <br> на брак</h4>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="excellence-box">
          <div class="excellence-img">
            <img src="assets/img/excellence-4.svg" alt="excellence">
          </div>
          <h4 class="excellence-title">Доставка <br> в любой город Украины</h4>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="excellence-box">
          <div class="excellence-img">
            <img src="assets/img/excellence-5.svg" alt="excellence">
          </div>
          <h4 class="excellence-title">Консолидация <br> на складе</h4>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="excellence-box">
          <div class="excellence-img">
            <img src="assets/img/excellence-6.svg" alt="excellence">
          </div>
          <h4 class="excellence-title">Ответственное <br> хранение груза</h4>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="excellence-box">
          <div class="excellence-img">
            <img src="assets/img/excellence-7.svg" alt="excellence">
          </div>
          <h4 class="excellence-title">Помощь в <br> оплате товара</h4>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="excellence-box">
          <div class="excellence-img">
            <img src="assets/img/excellence-8.svg" alt="excellence">
          </div>
          <h4 class="excellence-title">Упаковка, переупаковка, паллетирование груза к международной перевозке</h4>
        </div>
      </div>
    </div>
  </div>
</section>