<section class="container-fluid primary-bg-section faq">
  <div class="container">
    <div class="template-title">
      <h2>Часто задаваемые вопросы</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <div class="accordion accordion-flus" id="accordionFlush-1">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-1-collapse-1" aria-expanded="false" aria-controls="flush-1-collapse-1">
              Как рассчитывается стоимость доставки?
            </button>
          </h2>
          <div id="flush-1-collapse-1" class="accordion-collapse collapse" data-bs-parent="#accordionFlush-1">
            <div class="accordion-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum temporibus
              vitae ducimus suscipit a officiis voluptatum ut illo, voluptates, at quia quaerat? Nisi laudantium modi
              quae. Itaque blanditiis hic incidunt nam quasi accusamus expedita cupiditate ducimus libero, consequatur
              corrupti? Dignissimos, delectus tempore laboriosam odit eum harum quis ipsam amet explicabo? Similique
              labore necessitatibus modi id expedita cumque ipsam perferendis. Aliquid enim voluptates qui voluptas
              officiis quis a dolor cum, officia ipsa consequatur illo expedita rem rerum nemo, libero optio. Magnam
              illo, alias dolore quam rerum porro quaerat distinctio ipsam deserunt. Ex, odio. Aliquam corporis est
              atque, maxime dolores amet assumenda.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-1-collapse-2" aria-expanded="false" aria-controls="flush-1-collapse-2">
              Как происходит оплата за доставку груза?
            </button>
          </h2>
          <div id="flush-1-collapse-2" class="accordion-collapse collapse " data-bs-parent="#accordionFlush-1">
            <div class="accordion-body">Котивсь зеленими царинками, маленький і білий, наче банька кульбаби, безстрашно
              забирався у темний ліс, де гаджуги кивали над ним галузками, як ведмідь лабами. Звідси дивився на гори,
              близькі й далекі верхи, що голубіли на небі, на смерекові чорні ліси з їх синім диханням, на ясну зелень
              царинок, що, мов дзеркала, блищали в рамах дерев. Під ним, в долині, кипів холодний Черемош. По далеких
              горбах дрімали на сонці самотні оселі. Були так тихо і сумно, чорні смереки безперестанку спускали сум
              свій в Черемош, а він ніс його долом й оповідав. Вище, по безводних далеких недеях, нявки розводять свої
              безконечні танки, а по скелях ховається щезник.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-1-collapse-3" aria-expanded="false" aria-controls="flush-1-collapse-3">
              Как происходит оплата за доставку груза?
            </button>
          </h2>
          <div id="flush-1-collapse-3" class="accordion-collapse collapse" data-bs-parent="#accordionFlush-1">
            <div class="accordion-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum temporibus
              vitae ducimus suscipit a officiis voluptatum ut illo, voluptates, at quia quaerat? Nisi laudantium modi
              quae. Itaque blanditiis hic incidunt nam quasi accusamus expedita cupiditate ducimus libero, consequatur
              corrupti? Dignissimos, delectus tempore laboriosam odit eum harum quis ipsam amet explicabo? Similique
              labore necessitatibus modi id expedita cumque ipsam perferendis. Aliquid enim voluptates qui voluptas
              officiis quis a dolor cum, officia ipsa consequatur illo expedita rem rerum nemo, libero optio. Magnam
              illo, alias dolore quam rerum porro quaerat distinctio ipsam deserunt. Ex, odio. Aliquam corporis est
              atque, maxime dolores amet assumenda.</div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-1-collapse-4" aria-expanded="false" aria-controls="flush-1-collapse-4">
              Можно ли через вас оплатить товар поставщику?
            </button>
          </h2>
          <div id="flush-1-collapse-4" class="accordion-collapse collapse show" data-bs-parent="#accordionFlush-1">
            <div class="accordion-body">Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя.
              Если у вас нет валютного счёта, то
              можете оплатить товар в гривнах на наш счет.</div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-1-collapse-5" aria-expanded="false" aria-controls="flush-1-collapse-5">
              В чём особенность КАРГО доставки из Китая
            </button>
          </h2>
          <div id="flush-1-collapse-5" class="accordion-collapse collapse" data-bs-parent="#accordionFlush-1">
            <div class="accordion-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum temporibus
              vitae ducimus suscipit a officiis voluptatum ut illo, voluptates, at quia quaerat? Nisi laudantium modi
              quae. Itaque blanditiis hic incidunt nam quasi accusamus expedita cupiditate ducimus libero, consequatur
              corrupti? Dignissimos, delectus tempore laboriosam odit eum harum quis ipsam amet explicabo? Similique
              labore necessitatibus modi id expedita cumque ipsam perferendis. Aliquid enim voluptates qui voluptas
              officiis quis a dolor cum, officia ipsa consequatur illo expedita rem rerum nemo, libero optio. Magnam
              illo, alias dolore quam rerum porro quaerat distinctio ipsam deserunt. Ex, odio. Aliquam corporis est
              atque, maxime dolores amet assumenda.</div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-1-collapse-6" aria-expanded="false" aria-controls="flush-1-collapse-6">
              Какой срок доставки из Китая?
            </button>
          </h2>
          <div id="flush-1-collapse-6" class="accordion-collapse collapse" data-bs-parent="#accordionFlush-1">
            <div class="accordion-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum temporibus
              vitae ducimus suscipit a officiis voluptatum ut illo, voluptates, at quia quaerat? Nisi laudantium modi
              quae. Itaque blanditiis hic incidunt nam quasi accusamus expedita cupiditate ducimus libero, consequatur
              corrupti? Dignissimos, delectus tempore laboriosam odit eum harum quis ipsam amet explicabo? Similique
              labore necessitatibus modi id expedita cumque ipsam perferendis. Aliquid enim voluptates qui voluptas
              officiis quis a dolor cum, officia ipsa consequatur illo expedita rem rerum nemo, libero optio. Magnam
              illo, alias dolore quam rerum porro quaerat distinctio ipsam deserunt. Ex, odio. Aliquam corporis est
              atque, maxime dolores amet assumenda.</div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-lg-4">
      <div class="faq-form">
        <div class="faq-info">
          <h4 class="faq-info__title">Остались вопросы?</h4>
          <p class="faq-info__descript">Оставьте заявку и наш менеджер ответит вам в ближайшее время</p>
        </div>
        <form action="#">
          <div class="input-block">
            <input type="text" name="faq-name" id="faq-name" placeholder="Имя *">
          </div>
          <div class="input-block">
            <input type="tel" name="faq-tel" id="faq-tel" placeholder="Телефон *">
          </div>
          <div class="input-block">
            <input type="email" name="faq-email" id="faq-email" placeholder="E-mail">
          </div>
          <div class="input-block">
            <textarea name="faq-text" id="faq-text" cols="30" rows="10" placeholder="Ваш вопрос"></textarea>
          </div>
          <div class="input-block">
            <button type="button" class="btn btn-primary size-desktop-large-plus">Отправить запрос</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
