<section class="container-fluid secondary-bg-section services">
  <div class="container">
    <div class="template-title">
      <h2>Услуги</h2>
    </div>

    <div class="slider-template">

      <div class="container">
        <div class="slider-template__img" style="background-image: url(assets/img/services-1.png);">
          <div class="container">
            <h4 class="slider-template__title">Выкуп товара</h4>
            <p class="slider-template__description">Компания - это полный комплекс логистических услуг по доставке
              грузов
              из Китая в
              Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина.</p>
            <div class="buttons">
              <button type="button" class="btn btn-secondary size-desktop-normal">Подробнее</button>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="slider-template__img" style="background-image: url(assets/img/services-2.png);">
          <div class="container">
            <h4 class="slider-template__title">Страховка груза
            </h4>
            <p class="slider-template__description">Компания - это полный комплекс логистических услуг по доставке
              грузов
              из
              Китая в
              Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина.</p>
            <div class="buttons">
              <button type="button" class="btn btn-secondary size-desktop-normal">Подробнее</button>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="slider-template__img" style="background-image: url(assets/img/services-3.png);">
          <div class="container">
            <h4 class="slider-template__title">Аренда склада
            </h4>
            <p class="slider-template__description">Компания - это полный комплекс логистических услуг по доставке
              грузов
              из
              Китая в
              Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина.</p>
            <div class="buttons">
              <button type="button" class="btn btn-secondary size-desktop-normal">Подробнее</button>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="slider-template__img" style="background-image: url(assets/img/services-4.png);">
          <div class="container">
            <h4 class="slider-template__title">Перевод денег</h4>
            <p class="slider-template__description">Компания - это полный комплекс логистических услуг по доставке
              грузов
              из
              Китая в
              Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина.</p>
            <div class="buttons">
              <button type="button" class="btn btn-secondary size-desktop-normal">Подробнее</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
